
<h2>A new accounted created for socius!</h2>
<p>Your account is now approved.</p>

<h5>Username</h5>
<p><%= @user.username %></p>


<p>Login in now to see more</p>
<%= link_to 'Login In Now', login_path %>
