<!-- Sidebar -->
    <div id="sidebar-wrapper">
        <%= link_to image_tag('logo-final.png'), home_path, class: 'Socius-logo'%>
        <ul class="sidebar-nav">
        
          <li>This will be a link</li>
          <li>This will be a link</li>
        </ul>
    </div>