<%if @inactive_users.count!=0%>
	<div class = "user-table">
			<table>
				<thead>
					<tr>
						<td>Name</td>
						<td>Organization</td>
						<td>Action</td>
					</tr>
				</thead>
				<tbody>
					<% @inactive_users.each do |u| %>
					<tr>
					     <td><p class="mobile-only table-heading">Name</p><%=link_to u.proper_name,u%></td>
					     <td><p class="mobile-only table-heading">Organization</p><%=link_to u.organization.name, u.organization%></td>
					     <td> <%= link_to "APPROVE", approve_user_path(id: u['id']), class: "approve" %></td>
					</tr>
					<%end%>
				</tbody>
				<div class = "apple_pagination">
					
				</div>
		    </table>
		
	</div>
	<div class = "apple_pagination">
		<%=will_paginate @inactive_users%>
	</div>
<%else%>
    There are no users to be approved in the system now. 
<%end%>