<div id="signup">
	<div class = "go_back_white">
		<%= link_to "< Back To Profile", user_path(@user)%>
	</div>
	<div class="form center">

		    <h2>Edit Profile </h2>

		<%= render :partial => "form" %>
	</div>
</div>
