<div class = "header">
		<h2>Users</h2>
</div>

<div id="user-tabs">
	<div id="user-tabs-nav">
		<table>
			<tr>
				<td><a data-target="active-users">Users</a></td>
				<td><a class="inactive" data-target="inactive-users">To be approved</a></td>
			</tr>
		</table>
	</div>

    <div id="user-tabs-content">
    	<div id="user-active-users" class="post-index-table">
			<%= render partial: "active_users" %>
		</div>
		<div id="user-inactive-users" class="post-index-table inactive">
			<%= render partial: "inactive_users" %>
		</div>
    </div>
</div>

