<div id="signup">
	<div class="form center">
		<% if !logged_in?%>
		    <h2>Sign Up </h2>
		<% else %>
		    <h2> Add a New User </h2>
		<% end %>

		<%= render :partial => "form_new" %>
	</div>
</div>