
<div class="jumbotron">
   <h1> Welcome to Socius! </h1>

   <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="pill" data-toggle="pill">Home</a> </li>
    <li role="presentation" class="active"><a href="#home2" aria-controls="home2" role="pill" data-toggle="pill">Home2</a> </li>
   </ul>

   <div class="tab-content">
    <div role="tabpanel" class="tab-pane active fade in" id="home">
        <p> Socius is an app that uses your contributions to track the needs of the homeless community across the city. We are in Alpha right now, but hope to grow our service so that the location data collected can be used to deliver services directly to those who need it the most. </p>
        
    
    </div>
    <div role = 'tabpanel' class="tab-pane fade in" id="home2"> hiw </div>
   </div>


</div>