<h2>Socius Project Vision</h2>
<p>As a city becomes smarter, the integrated networks of engineered cyber and physical elements provide the capability to greatly improve the quality of life of its citizens. In order to leverage these capabilities to benefit all classes of society, this project aims to develop a proof-of-concept for socially responsible smart city that utilizes its cyber-physical infrastructure for better management of services, taking responsibility for monitoring the needs of its citizens, and maximizing the social welfare of the myriad stakeholders including the government, private citizens, and NGOs. This research is supported by NSF grants #1651858 and #1651566.</p>

<h2>Publications</h2>
<p>Debbie Tsai, Yasser Shoukry, Min Kyung Lee, and Vasu Raman, “Towards a Socially Responsible Smart City: Dynamic Resource Allocation for Smarter Community Service,” The 4th ACM International Conference on Systems for Energy-Efficient Built Environments (BuildSys 2017)</p>

<p>Min Kyung Lee, Ji Tae Kim, and Leah Lizarondo, “A human-centered approach to algorithmic services: Considerations for fair and motivating smart community service management that allocates donations to non-profit organizations”, ACM/SIGCHI Conference on Human Factors in Computing Systems (CHI 2017) <a href="https://vin01188.github.io/sociusinfo/pdfs/2017-CHI-FairAlgoAllocation.pdf">PDF</a></p> 

<p>Min Kyung Lee, Lisa Otto, Vincent Kang, Vasu Raman, and Yasser Shoukry , “Location-based services for homeless population,” The 2016 workshop on Urban Homelessness and Underserved Communities. The workshop is affiliated with the Eighth International Conference on Social Informatics (SocInfo 2016) <a href="https://vin01188.github.io/sociusinfo/pdfs/WorkshopforHomeless_mklee.pdf">PDF</a></p>

<div class="team">
	<h2>The Team</h2>
	<% @team.each do |member| %>
		<div class="team-member">
		  <%= image_tag "team/" + member[:name].partition(" ").first + ".jpg", class: "member-photo" %>
		  <%= link_to member[:name], member[:link] %>
		</div>
	<% end %>
</div>