<header>
	<h1 id="heading">Socius</h1>

	<h3>
		Better documenting needs and coordinating services for street outreach teams
	</h3>

	<a href="https://vin01188.github.io/sociusinfo/images/sociusmanual.pdf" class="button" download="">Download Manual Guide</a>
</header>

<div id="who">
	<div>
		<h2>Who's it for?</h2>
		<p>For street outreach teams to input and track requests, claim requests in the area, and measure the long-run impact of their work. </p>
		<table>
		<tr>
			<td>
				<%= image_tag 'icon_graph.png' %>
				<p>Crowdsourced data collection for minimizing service overlap</p>
			</td>
			<td>
				<%= image_tag 'icon_clock.png' %>
				<p>Track requests over time</p>
			</td>
			<td>
				<%= image_tag 'icon_check.png' %>
				<p>Recognize what types of needs are strongest and where</p>
			</td>
		</tr>
		</table>
	</div>
</div>

<div>
	<%= image_tag "about/flow.jpg" %>
</div>