<div id="heading">
	<p><b>Thank you for using Socius</b></p>
</div>

<div id = "newaccount">
	<p>Thank you for creating your accont.</p>
	<p>Due to our pricacy policy, new accounts need to be approved by the administrator. It usually takes 1-2 days for the administrator to approve the newly created accounts.</p>
	<%= link_to "GO BACK TO HOME", home_path %>
</div>