
<script src='//cdn.rawgit.com/googlemaps/js-rich-marker/gh-pages/src/richmarker-compiled.js' type='text/javascript'></script>

<h1> Add a New Request </h1>

<div class="col-lg-12">
<div id="map" style='width: 800px; height: 500px;'></div>
</div>



<script type="text/javascript">
    handler = Gmaps.build('Google', { builders: { Marker: RichMarkerBuilder} });
        handler.buildMap({ 
        provider: {

        }, 
        internal: {
            id: 'map'}
        },
        
        function(){
            markers = handler.addMarkers([
            {"lat": 0, "lng": 0, "marker": "<span>Here!</span>"}
        ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    });

</script>


<%= render :partial => "new_form" %>