<%= content_tag :div, class: "map_info", data: {post_details: @post_details} do %>
<% end %>
<div id="map-container">
	<small>Not seeing a map? Try refreshing! (CMD + Shift + R)</small>
	<div id="map-canvas"></div>
</div>

<div id="post-data">
</div>
