// Place all the styles related to the Alliances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_organization,.new_alliance{
	margin: 2em auto 1em auto;
	.new_link:{


	}
	.org-form{
		background: $lighter-orange;
		padding: 2vw;

			form {
				width: 90%;
				.input{
					font-size: 1em;
					width: 90%;
					color: black;
				}
				.wrapper{
					color:black;
				}
			}


				input[type="submit"], button{
					color: $orange;
					font-size: 1em;
					display: block;
					border: 2px solid $orange;
					margin: 1em auto auto auto !important;
					font-weight: bold;
				}
			

	}
}

.new_alliance{
	width: 90%;
	.org-form{
		display:none;
		form {
			label{
				font-size: 1em;
				display: inline-block;
			}
			.input{
				font-size: 1em;
				width: 90%;
				color: black;
			}
			.wrapper{
				border-bottom: 2px solid $orange;
			}
		}
    }
}