/*
*= require material_icons
*/
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "variables";
@import "flash";
@import "nav";
@import "home";
@import "needs";
@import "organizations";
@import "post_needs";
@import "posts";
@import "users";
@import "alliances";
@import "pagination";
@import "mobile";

body {
	font-family: "Quicksand";
	padding: 0;
	margin: 0;
	color: $grey;
	overflow-x: hidden;
	width: 100%;
}

main {
	margin-top: 0em;
    padding: 0;
}

* {
	/*max-width: 100%;*/
	box-sizing: border-box;
}

a:not(.filterlink){
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  margin-bottom: 3px;
  cursor: pointer;
  &:hover {
      border-color: inherit;
  }
}


h1 {
	text-transform: uppercase;
	font-size: 5em;
}

h2 {
	font-size: 3em;
}

p {
	font-size: 1em;
	line-height: 2em;
}

.round-image {
	border-radius: 50%;
	width: 300px;
}

.center-text {
	text-align: center;
}

.center {
	margin: 0 auto !important;
}

.card {
	padding: 2% 4%;
	margin: 4% 2%;
	border-radius: 5px;
	border: 1px solid #777;
	box-shadow: 1px 1px 1px #333;
}

input[type="submit"], button, .button {
	display: inline-block;
	padding: 0.5em 1em;
	margin: 2em 1em;
	border-radius: 5px;
	border: 2px solid white;
	background: none;
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	cursor: pointer;
	/*box-shadow: 1px 1px 1px #333;*/
	&:hover {
		opacity: 0.5;
	}
}

label {
	display: block;
	float: left;
	text-align: left;
	min-width: 150px;
	margin-top: 5px;
	font-size: 1.4em;
}

input:not([type="checkbox"]):not([type="submit"]), textarea, select {
  height: 30px;
  line-height: 30px !important;
  width: 100%;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid white;
  padding: 1em;
  opacity: 0.5;
  color: white;
  font-family: 'Quicksand';
  font-size: 1.3em;

  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
  outline-style:none;
  &:focus {
  	opacity: 1;
  }
}

select {
	padding: 0 1em;
}



input[type='checkbox'] {
	-webkit-appearance:none;
	width: 30px;
	height: 30px;
	background: white;
	padding: 0;
	margin: -2px;
	border: 2px solid $grey;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	&:checked {
		opacity: 0.5;
		&:after {
			content: '✓';
		}
  }
}

textarea {
	min-height: 10em;
}

form {
	width: 60%;
	input[type="submit"], button :not(.filter_element){
		margin: 2em 0 !important;
	}
}

.table_action{
		text-align: center;
		.button {
			color: $orange;
			font-size: 1em;
			border-color: $orange;
		}
}
.index-table {
	padding: 3% 5%;
	margin: 0 auto;

	.button {
		color: $orange;
		font-size: 0.8em;
		border-color: $orange;
	}
	
	table {
		width: 100%;
		table-layout: fixed;
		thead {
			text-transform: uppercase;
			color: $orange;
			text-align: left;
		}
		tr {
			&:nth-of-type(even) {
				background: #f8f8f8;
			}
			td {
				// #viewpost a{
				// 	color: $orange ;
				// }
				.detail_link{
					display: none;
				}
				.green-text{
				color: $green;}
				.red-text{
				color: $red;}
				text-align: left;
				padding: 1em;


			}
		}
	}
}

.complete {
	color: green;
}

.incomplete {
	color: orange;
}

#error_explanation {
	width: 50%;
	margin: 0 auto;
	background: rgba(255,255,255,0.2);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 5px 10px;
	ul {
		text-align: left;
	}
}

.header {
	background: $orange;
	padding: 5%;


	h2{
		color: white;
		text-align: center;
		margin: 0;

	}

	.button {
		margin: 0;
	}

}

.go_back{
	a{
		font-size: 1.3em;
		color: $orange;
	}
	padding: 1% 5%;
	margin: 0 auto;

}

#pac-input{
	color: black !important;
	background-color: white !important;
}

.alert{
	color: red;
}


