.mobile-only {
	display: none;
}

@media screen and (max-width: 768px) {

	h1 {
		font-size: 3em !important;
	}

	h2 {
		font-size: 2em !important;
	}

	input[type='checkbox'] {
		min-width: 3vw;
	}

	// home#home
	#who, #vision {
		h2 {
			margin: 1.5em 0 !important;
		}
		p {
			text-align: left;
			font-size: 1em !important;
		}
		td p {
			text-align: center !important;
		}
	}

	#map-container {
		#legend {
			float: none;
			display: block;
			.key {
				display: block;
			}
		}
	}


	.mobile-only {
		display: block;
	}

	#login, #signup {
		width: 100%;
		form {
			div {
				width: 100%;
			}
		}
	}

	label {
		font-size: 1em;
	}

	table {
		margin: 0 auto;
		.table-heading {
			color: $orange;
			text-transform: uppercase;
			margin: 0;
		}
		thead {
			display: none;
		}
		td {
			display: block;
			width: 100% !important;
			.detail_link{
				font-size: 0.8em;
				color: $orange;
				text-decoration: none;
				display: inline-block !important;
				padding-bottom: 2px;
				border-bottom: 2px solid transparent;
				margin-bottom: 3px;
				cursor: pointer;
			}
		}

		tr{
		display: block;
		.detail_toggle{
			display: none;
			background: $lighter-orange;
			td {
				width: 100% !important;
				.green-text{
				color: $green;}
				.red-text{
				color: $red;}
				text-align: left;
				padding: 1em;

			}
		}
		}
	}

	nav {
		ul {
			padding: 0;
			text-align: center;
		}
	}

	header {
		h3 {
			width: 100%;
		}
		.download{
			font-size: 1.2em;
			margin: 1em 1em 2em 1em!important;
			padding: 0.5em !important;
		}

		.loginbm{
			color: white !important;
			display: block;
			float: right;
		}
	}


	.header{
		.newuser{
			width: 50% !important;
		}
	}

	#info {
		table {
			td {
				margin-bottom: 10px;
				img {
					width: 250px;
					height: 250px;
				}
			}
		}
	}

	#post-form-container {
		form{
		 	#comment{
				border: 2px solid $light-orange;

			}
			small{
				text-align: left;
			}
		}
		#sharings-list{
			div{
				.need-category {
					small{
						.dlink{
							width: 100%;
						}
						.details{
							width: 100%;
						}
					}
				}
			}

		}
		#needs-list {
			div{
			margin: 3vw 0vw;
			.togglelink{
				font-weight: bold;
				width: 90%;
				padding: 1vw;
				background-color: $light-orange;
				color: orange;
				font-size: 1.4em;
				&:hover {
				      border: none ;
				  }
			 }
			 .need-category {
				display:none;
				margin-bottom: 5em;
				div {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					padding: 0.5em;
					margin-bottom: 0.8vw;
					label {
						margin-top: 0;
						font-size: 1.2em;
						width: 15%;
					}
				}
				small {
					text-align: center;
					display: block;
					opacity: 0.85;
					margin-top: 30px;
				}
			}
		    }
		}
		.button-wrapper:not(#submit) {
			display: none;
		}
		#post-form {
			table {
				width: 100vw;
				td {
					#needs-table {
						td {
							text-align: center;
							border-bottom: none;
							div {
								padding: 12px;
							}
						}
					}
				}
			}
		}
	}

	#post-data{
		width: 100% !important;
		.comment_area{
			.comment_section{
			.comments{

			}

		}}
	}

	#post-need-list {
		max-width: 100% !important;
		width: 100% !important;
		background: $lighter-orange;
		#claim-list,#complete-list,#need-info{
			padding: 2%;
			display: block !important;
			float: none !important;
			form{
					width: 100% !important;
				}
			input[type='submit'] {
				margin-left:auto !important;
				margin-right:auto !important;
				font-size: 0.9em !important;
			}
	    }
	}

	.center-on-mobile {
		margin: 0 auto;
		text-align: center;
	}
	.filterlink{
		width: 50%;
		display: block;
		text-align: center;
		margin: auto auto;
		margin-top: 3vw;
		color: $orange;
		font-weight: bold;
		font-size: 1.5em;
		&:active,&:hover {
			color: $orange !important;
			border-bottom: 2px solid $orange;
		}

	}
	.filtertable{
		display: none;
		background: $lighter-orange;
		padding-bottom: 20px;
		.filter_form{
			width: 100%;
			margin:auto;
			form {
				width: 80%;
				margin-left: auto;
		        margin-right: auto;
				.filter_element{
					font-size: 0.8em;
					width: 100%;
					padding: 2%;
					display:inline-block;
					.filter{
						background: $light-orange;
						color: black;
					}
				}


				input[type="submit"], button{
					color: $orange;
					font-size: 0.8em;
					display: block;
					width: 40%;
					border: 2px solid $orange;
					margin: auto auto auto auto !important;
				}
			}
			

		}

	}

	.index-table{
		tbody{
			tr{
				.detail_toggle{
				td {
					// #viewpost a{
					// 	color: $orange ;
					// }
					.green-text{
					color: $green;}
					.red-text{
					color: $red;}
					text-align: left;
					padding: 1em;


				}
			}

			}
		}
		
	}

	.status_inform{
		    border: 2px solid $light-orange;
			width: 90%;
			margin: auto auto;
			text-align: center;
			padding: 0.5em;
			.status{
				line-height: 150%;
				display: block;
				font-szie: 1em;
			}
		}

	


}