// Navigation Variables
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 5em;


// Outer navigation wrapper
.navigation {
  height: $nav-height;
  background: $orange;
}

// Logo and branding
.brand {
  img{
    width: 60px;
    vertical-align: text-bottom;
    height: $nav-height*0.5;
  }
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  a,
  a:visited {
    color: white;
    text-decoration: none;
  }
}

// Container with no padding for navbar
.nav-container {
  max-width: 96%;
  margin: 0 auto;
}

// Navigation 
nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      a:hover  {
          border-color: inherit;
      }
      float: left;
      position: relative;
      a,
      a:visited {
        display: block;
        padding: 0 1em;
        line-height: $nav-height;
        background: $orange;
        color: $grey;
        text-decoration: none;
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      } // Dropdown list
      ul li {
        background: white;
        min-width: 190px;
        border: 1px solid $lighter-grey;
        a {
          background: white !important;
          padding: 15px;
          line-height: 2em;
        }
      }
    }
  }
}

// Dropdown list binds to JS toggle event
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */

// Binds to JS Toggle
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $orange;
  height: $nav-height;
  width: $nav-height;
}
@media only screen and (max-width: 798px) {
  // Hamburger nav visible on mobile only
  .nav-mobile {
    display: block;
  }
  nav {
   width: 100%;
   padding: $nav-height 0 15px;
    ul {
      display: none;
      li {
        float: none;
        a {
          background: white !important;
          width: 100%;
          padding: 1em 1em;
          line-height: 3.5em;
        }
        ul li {
          a {
          padding-left: 30px;
          }
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $grey;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
