// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// require variables

#map-container {
	background: $orange;
	padding: 3% 5%;
	position: relative;
	color: white;
	#legend {
		float: right;
		.key {
			line-height: 20px;
			display: inline-block;
			img {
				height: 20px;
			}
		}
	}
	small {
		display: inline-block;
		margin: 5px 0;
	}
}
#map-canvas {
	height: 384px;
	width: 100%;
	color: $grey;
}

#post-form-container {
	background: $orange;
	padding: 3% 5%;
	color: white;
	text-align: center;

	h1 {
		margin-top: 0;
	}
	
	#address-preview {
		font-size: 2vw;
	}
	small {
		display: block;
		text-align: left;
	}

	form {
		width: 70%;
		margin: 0 auto;
	}
	#needs-list {
		width: 100%;
		.need-category {
			margin-bottom: 5vw;
			h3 {
				font-size: 2.2em;
			}
			div {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				margin-bottom: 0.8vw;
				label {
					margin-top: 0;
				}
			}
		}
	}
}

#map-canvas {
	/*style the box which holds the text of the information window*/  
	.gm-style div div div {
		width: 100%;
		text-align: left;
		max-width: 200px;
		a {
			color: $grey;
		}
	}
}

#post-data {
	padding: 3% 5%;
	input[type='submit'] {
		border-color: $orange;
		color: $orange;
	}
	.update-post-need-wrapper {
		padding: 10px;
	}
}