// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// require variables

#map-container {
	background: $orange;
	padding: 3% 5%;
	color: white;
	h1 {
		text-align: center;
		margin-top: 0;
	}
	#legend {
		float: right;
		.key {
			line-height: 20px;
			display: inline-block;
			img {
				height: 20px;
			}
		}
	}
	small {
		display: inline-block;
		margin: 5px 0;
	}
}
#map-canvas {
	height: 384px;
	width: 100%;
	color: $grey;
}

#post-form-container {
	a:hover  {
      border-color: inherit;
    }
	background: $orange;
	padding: 3% 5%;
	color: white;
	text-align: center;
	#needs-requested{
		margin-bottom: 0px !important;
	}

	h1 {
		margin-top: 0;
	}
	
	#address-preview {
		font-size: 1.5em;
	}
	small {
		display: block;
		text-align: left;
	}

	form {
		width: 95%;
		margin: 0 auto;
		
	}
	#sharings-list{
		margin-top: 5em;
		width: 100%;
		.title{
			font-size: 1.5em;
			text-align: left;
			padding-bottom: 0.5em;
			// text-decoration: underline;
			margin-bottom: 1em;
			.small{
				display: inline-block;
				font-size:0.6em;
				// text-decoration: underline;
				margin-left: 1em;
			}
		}
		div{
			.need-category {
				margin-bottom: 5em;
				div {
					display: inline-block;
					align-items: left;
					justify-content: left;
					width: 100%;
					padding: 0.5em;
					// margin-bottom: 0.8vw;
					label {
						margin-top: 0;
						font-size: 1.5em;
						width: 30%;
					}
				}
				small{
					.dlink{
						color: $light-orange;
						display: inline-block;
						text-decoration: underline;
						width: 20%;
					}
					.details{
						color: $light-orange;
						display: none;
						width: 60%;
						vertical-align: top;
					}
				}
				.small {
					text-align: center;
					display: block;
					margin-top: 30px;
					font-size: 1em;
				}

			}
		}

	}
	#needs-list {
		width: 100%;
		margin-bottom:2em;
		div{
			margin: 2vw 0vw;
			.togglelink{
				font-size: 3em;
			}
			.need-category {
				display:none;
				margin-bottom: 5em;
				div {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					padding: 0.5em;
					margin-bottom: 0.8vw;
					label {
						margin-top: 0;
						font-size: 1.3em;
						width: 30%;
					}
				}
				small {
					text-align: center;
					display: block;
					opacity: 0.85;
					margin-top: 30px;
				}
			}
		}
	}
}

#map-canvas {
	/*style the box which holds the text of the information window*/  
	.gm-style div div div {
		width: 100%;
		text-align: left;
		max-width: 200px;
		a {
			color: $grey;
		}
	}
}

#post-heading{
	width: 100%;
	padding: 0 5%;
	display: block;
	#post-address {
		#post-subaddress, small {
			color: $light-grey;
		}
	}

}

#post-info-container {
	padding: 2% 5%;
	> div {
		display: inline-block;
	}
	#post-data {
		width: 55%;
		h2 {
			margin: 0;
		}
		.comment_area{
			display: block;
			.comment_section{
			.hide_link{
				font-size: 0.8em;
				display: block;
				margin-left: 1em;
				text-align: right;
			}
			.comments{
				display: block;
				background: $lighter-orange;
				padding: 0.5em;
				margin-bottom:0.5em;
				.content{
					display:inline-block;
					vertical-align:top;
				}
				.del{
					font-size:0.8em;
					color:$red;
					display: inline-block;
					float: right;
					&:hover{
						border-bottom: 2px solid $red;
					}
				}
			}

			.comment_link{
				margin-top: 0.5em;
				color: $orange;
			}

			.comment_form{
				display:none;
				width: 100%;

				form{
					padding: 1em;
					width: 100% !important;
					background: $lighter-orange;

					label{
						font-size: 1em;
					}
					.input{
						color: black;
						font-size: 1em;
					}
					.wrapper{
						
						border-bottom: 2px solid $mid-orange;
					}
				}

				input[type="submit"], button{
					color: $orange;
					font-size: 1em;
					display: block;
					border: 2px solid $orange;
					margin: 1em auto auto auto !important;
					font-weight: bold;
				}
			}

		}

		}
		
		.claim {
			color: $orange;
			font-size: 1em;

			margin-left: 1em;
			padding: 0.2em 0.3em;

			border-bottom: 2px solid $orange;
		}
		h5 {
			display: inline-block;
			border-bottom: 2px solid $grey;
			padding-bottom: 3px;
			margin-bottom: 0;
			font-size: 1em;
		}
		small {
			display: block;
			opacity: 0.7;
			margin-bottom: 10px;
			color: $light-grey;

		}

		.delete{
			display: inline-block;
			margin: 1em 0;
			border: 2px solid $orange;
			padding: 0.7em 0.7em;
			border-radius: 5px;
			color: $orange;
			&:active,&:hover{
				background: $light-orange;
			}
		}
		.red{
			color: red;
		}
		}

	#post-need-list {
		display: inline-block;
		float: right;
		width: 38%;
		#need-info{
			.update-post-need-wrapper {
				padding: 10px;
			}
			small {
				color: $light-grey;
			}

		}
		#claim-list,#complete-list{
			border-bottom: 1px solid $orange;
			margin-bottom: 2em;
			.red{
				font-size: 0.8em;
				color: red;
			}

			label {
				font-size: 1em;
			}
			input[type='submit'] {
				border-color: $orange;
				border-bottom: 2px solid $orange !important;
				color: $orange;
				font-size: 0.7em;
				display: block;
			}
			.update-post-need-wrapper {
				padding: 10px;
				label{
					width: 65%;
				}
			}
			small {
				color: $light-grey;
			}

		}
	}
}

.filterlink{
		width: 20%;
		display: block;
		text-align: center;
		margin: auto auto;
		margin-top: 3vw;
		color: $orange;
		font-weight: bold;
		font-size: 1.5em;
		&:active,&:hover {
			border-bottom: 1px solid $orange;
		}

	}
.filtertable{
	background: $lighter-orange;
	.filter_form{
		width: 100%;
		margin:auto;

		form {
			width: 90%;
			margin-left: auto;
	        margin-right: auto;
			.filter_element{
				font-size: 0.8em;
				width: 23%;
				padding: 2%;
				display:inline-block;
				.filter{
					background: $light-orange;
					color: black;
				}
			}


			input[type="submit"], button{
				color: $orange;
				font-size: 1em;
				display: block;
				width: 10%;
				border: 2px solid $orange;
				border-bottom: 2px solid $orange !important;
				margin: auto 10px auto auto !important;
				font-weight: bold;
			}
		}
		

	}

}

.status_inform{
		width: 80%;
		margin: auto auto;
		.status{
			margin: 0em 1em;
			display: inline-block;
			font-szie: 1em;
		}
}




