@import url('https://fonts.googleapis.com/css?family=Quicksand:500,700');

$orange: #f2a10c;
$grey: #555;
$mid-grey: #777;
$light-grey: #999;
$red: #ee6055;
$green: #58d039;
$light-orange: 	#f9eac7;
$mid-orange: #ffc34d;
$lighter-orange: #fff2e6;
$lighter-grey: #dfe8ea;
$oragne-yellow:#fff7e6;
$blue: #4da6ff;
$dark-orange: #ff8000;