
<div id = 'alliances' class="index-table">

  <%if @alliance.organizations.count == 0%>
	<%="This alliance has no organizations now."%>
  <%else%>
    <table>
		<thead>
			<tr>
				<th>Organization Name</th>
				<th>Members</th>
			</tr>
		</thead>

		<tbody>
			<%@alliance.organizations.each do |a|%>
		    <tr>
		    	
		    	<td><p class="mobile-only table-heading">Organization Name</p><%=a.name%></td>
		    	
		    	<td><p class="mobile-only table-heading">Members</p><%=a.users.count%></td>
		    </tr> 
		    <%end%> 
	     </tbody>
	</table>
   <%end%>
</div>

