

  <!-- create an empty camp instructor object to work with -->
<% @org_alliance = OrgAlliance.new %>
<!-- now the form template itself -->

  <h5>New organization for this alliance:</h5>
  <%= simple_form_for @org_alliance, html: {class:'form-horizontal'} do |f| %>

        <%= f.input :alliance_id, as: :hidden, input_html: { value: @alliance.id } %>
        <%= f.input :organization_id, collection: @organizations, input_html: {class: "form-control"}, wrapper_html: {class: 'form-group'} %>
        <%= f.button :submit %>
  <% end %>


