<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Socius Home4Homeless :: <%= controller.controller_name.capitalize %></title>

  </head>

  <body>
    <div>
      <%= yield %>
    </div>
    
  </body>

  </html>

    