<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Socius Home4Homeless :: <%= controller.controller_name.capitalize %></title>

  </head>

  <body>
    <header>
      
      <div id="title_area">
        <%= render :partial => "partials/nav" %>
     
      </div>
    </header>

    <main>
          
          <div>
            <%= yield %>
          </div>
    
    </main>

    <footer>
      <div>
        <%= render partial: 'partials/footer' %>
      </div>
    </footer>

    
  </body>

  </html>

    